<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">Especifique el monto y el tipo</p>

        <form [formGroup]="invoicingForm" (submit)="saveInvoicing()">
          <div class="form-group">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripción"
              formControlName="description"
            />
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input
              type="number"
              class="form-control"
              placeholder="Monto"
              formControlName="value"
            />
            <p>Debe de ser un monto positivo</p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br />
            <button
              *ngIf="isType('INCOMING')"
              type="button"
              class="btn btn-primary btn-block"
              (click)="changeInvoicingType('OUTCOMING')"
            >
              Ingreso
            </button>
            <button
              *ngIf="isType('OUTCOMING')"
              type="button"
              class="btn btn-warning btn-block"
              (click)="changeInvoicingType('INCOMING')"
            >
              Egreso
            </button>
          </div>

          <hr />
          <button
            type="submit"
            class="btn btn-success mr-2"
            [disabled]="invoicingForm.invalid"
            *ngIf="!(uiFacade.isLoading$ | async); else loadingButton"
          >
            <i class="fa fa-save"></i>
            Agregar
          </button>

          <ng-template #loadingButton>
            <button disabled class="btn btn-success mr-2">
              <i class="fa fa-spin fa-sync"></i>
              Guardando...
            </button>
          </ng-template>

          <button type="button" class="btn btn-light" (click)="resetForm()">
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
